
@{
    ViewData["Title"] = "Country List";
}

<h2>Country List Using ViewBag ===> ViewBag.CountryList</h2>

<ul>
    @foreach (string country in ViewBag.CountryList)
    {
        <li>@country</li>
    }
</ul>