@model IEnumerable<CoreWebEmpty.Models.Employee>;
@*Not Required Here, as ViewStart file will take care of layout file*@
@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Employee List";
    }*@

@{
    ViewBag.Title = "Employee List";
}

<h1>This is List Employee With View</h1>

<div>
    <table border="1">
        <tr>
            <th>ID: </th>
            <th>Name: </th>
            <th>Email: </th>
            <th>Department: </th>
        </tr>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.ID</td>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.Department</td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}